$primary : #ffad16;  // primary värin vaihto sinisestä
$body-color : #2d0087;
$body-bg : white;

$navbar-light-active-color : #6e3c00;

$carousel-indicator-width : 10%;
$carousel-control-color : deepskyblue;
$carousel-indicator-height : 20px;



hr {
  background-color: deepskyblue;
}